<div class="stepper-wrapper mt-2">
  <div class="stepper-item" [class.completed]="localStep >= 1">
    <div class="wrap">
      <div class="step-counter"></div>
      <div class="step-name">Yo</div>
    </div>
  </div>
  <div class="stepper-item" [class.completed]="localStep >= 2">
    <div class="step-counter"></div>
    <div class="step-name">Mi mascota</div>
  </div>
  <div class="stepper-item" [class.completed]="localStep >= 3">
    <div class="step-counter"></div>
    <div class="step-name">Su condición</div>
  </div>
  <div class="stepper-item" [class.completed]="localStep >= 4">
    <div class="step-counter"></div>
    <div class="step-name">Pre-Checkout</div>
  </div>
  <div class="stepper-item" [class.completed]="localStep >= 5">
    <div class="step-counter"></div>
    <div class="step-name"></div>
  </div>
  <div class="stepper-item" [class.completed]="localStep >= 6">
    <div class="step-counter"></div>
    <div class="step-name">Alimento</div>
  </div>
  <div class="stepper-item" [class.completed]="localStep >= 7">
    <div class="step-counter"></div>
    <div class="step-name">Dieta</div>
  </div>
  <div class="stepper-item" [class.completed]="localStep >= 8">
    <div class="step-counter"></div>
    <div class="step-name">Checkout</div>
  </div>
</div>
